@import "../common/styles/sass/variables";

.swiper {
  width: 70%;
  position: absolute;
  //background: yellowgreen;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --swiper-theme-color: #00d2bb;
  @media only screen and (max-width: 1516px) and (min-width: 680px) {
  width: 90%;
  }
  @media only screen and (max-width: 680px) and (min-width: 0px) {
    width: 100%;
  }

  .swiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;

    .imgContainer {
      display: flex;
      align-items: end;
      flex-direction: column;
      position: relative;

      .image {
        display: block;
        width: 100%;
        height: 80%;
        object-fit: fill;
        border-radius: 10px;
        margin-top: 10px;
        box-sizing: border-box;
        border-style: inset;
      }
    }
    .btnClose {
      width: 13px;
      border: $textColor 2px solid;
      border-radius: 20px;
      padding: 5px 10px;
      cursor: pointer;
      color: $primaryColor;
      @media only screen and (max-width: 680px) and (min-width: 0px) {
        top: -20%;
        font-size: 10px;
        padding: 3px 7px;
        width: 7px;
      }
    }
  }
}





