@import "../common/styles/sass/variables";

.wrapper {
  position: fixed;
  inset: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0cd8;
  --swiper-theme-color: #00d2bb;

  .btnClose {
    position: absolute;
    top: 16px;
    right: 24px;
    width: 13px;
    border: $textColor 2px solid;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    color: $primaryColor;
    z-index: 10;
    @media only screen and (max-width: 680px) {
      top: 12px;
      right: 16px;
      font-size: 10px;
      padding: 3px 7px;
      width: 7px;
    }
  }

  .swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }

  .swiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .image {
    display: block;
    max-width: 90%;
    object-fit: contain;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px inset rgba(255, 255, 255, 0.1);
  }

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    width: 44px;
    height: 44px;
    z-index: 10;
  }

  :global(.swiper-button-prev) {
    left: 0;
    @media only screen and (min-width: 769px) {
      left: 20px;
    }
  }

  :global(.swiper-button-next) {
    right: 0;
    @media only screen and (min-width: 769px) {
      right: 20px;
    }
  }
}





