.nav {
    width: 400px;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}

.nav a {
    color: #00d3bc;
    text-decoration: none;
}

.nav a:hover {
    color: #fdfdfd;
}
