@import "../../common/styles/sass/variables";

.nav {
  width: 400px;
  border: 1px solid;
  display: flex;
  justify-content: space-between;

  .link {
    cursor: pointer;
  }


  & a {
    color: $primaryColor;
    text-decoration: none;
  }

  & a:hover {
    color: $textColor;
  }

  .active {
    color: $textColor;
  }

  @media screen and (max-width: 400px) {
    display: none;
  }
}





