.skillsBlock {
    height: 100%;
    background-color: #000101;
    color: #00d3bc;
}

.skillsContainer {
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
}

.skills {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
