@import "../common/styles/sass/variables";

.skillsBlock {
  background-color: $bgSecondColor;
  color: $primaryColor;
  position: relative;
  z-index: 1;


  .skillsContainer {
    flex-direction: column;
    flex-wrap: wrap;
  }
}



