@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.default {
  @include button(
                  200px, 50px, 30px,
                  20px, $textColor, $bgSecondColor,
                  20px, bolder, 1px solid $primaryColor,
                  5px solid transparent, .2s ease-in-out, relative,
                  1, pointer);
}

button:hover {
  background-color: #077065;
  color: $textColor;
  outline: 1px solid $primaryColor;
  outline-offset: 3px;

  &:active {
    color: $textColor;
    background-color: #179119;
    width: 90px;
    transition: 1s ease;
  }
}

button:disabled {
  &:active {
    width: 200px;
    background-color: #525655;
    color: grey;
  }

  animation: none;
  transition: none;
  outline: none;
  border: none;
  background-color: #525655;
  width: 200px;
  color: grey;
  opacity: 0.5;
}

.projects {
  @include button(
                  160px, 50px, 30px,
                  20px, #525655, $primaryColor,
                  20px, normal, 1px solid $primaryColor,
                  5px solid transparent, .1s ease-in-out, relative,
                  1, pointer);
  opacity: 0.7;
  overflow: hidden;
  word-wrap: break-word;
}

.imageLink {
  margin-left: 5px;
  width: 13px;
}

@media only screen and (max-width: 750px) and (min-width: 0px) {
  .default {
    width: 100px;
  }
}
