@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.default {
  @include button(
                  200px, 50px, 30px,
                  20px, $textColor, $bgSecondColor,
                  20px, bolder, 1px solid #00d2bb,
                  5px solid transparent, .2s ease-in-out, relative,
                  1);
}

button:hover {
  background-color: #077065;
  color: #fdfdfd;
  /*transition: 0.5s;*/
  outline: 1px solid #00d2bb;
  outline-offset: 3px;
}

.projects {
  @include button(
                  40%, 15%, 30px,
                  20px, #525655, #00d2bb,
                  20px, normal, 1px solid #00d2bb,
                  5px solid transparent, .1s ease-in-out, relative,
                  1);
  opacity: 0.6;
}

@media only screen and (max-width: 750px) and (min-width: 0px) {
  .default {
    width: 100px;
  }
}
