@import "../../common/styles/sass/variables";

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px 50px 10px 50px;
    @media only screen and (max-width: 550px) and (min-width: 0px) {
        margin: 10px 50px 0 30px;
        width: 100%;
    }

    .projectImage {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.3;
        }
    }
    .textBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .description {
            text-align: center;
            width: 100%;
            color: $textColor;
            @media only screen and (max-width: 550px) and (min-width: 0px) {
                    width: 90%;
            }
        }
        .titleAndIconBlock {
            display: flex;
            flex-direction: row;
            align-items: center;

            h3 {
                display: block;
            }
            .githubIcon {
                display: block;
                width: 23px;
                margin-left: 10px;
                img {
                    object-fit: fill;
                }
            }
        }
    }
    @media only screen and (max-width: 550px) and (min-width: 0px) {
            width: 250px;
    }
}
