@import "../common/styles/sass/variables";

.projectsBlock {
  height: 100%;
  background-color: $bgColor;
  color: $primaryColor;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;

    .projects {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}




